/** @import must precede all other statements */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /**
   * Tailwind CSS theme
   * tailwind.config.ts expects the following color variables to be expressed as HSL values.
   * A different format will require also updating the theme in tailwind.config.ts.
  */
  :root {
    --background: 0 0% 100%;
    --foreground: 264 34% 18%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 264 83% 47%;
    --primary-foreground: 0 0% 100%;

    --secondary: 270 40% 96%;
    --secondary-foreground: 264 34% 20%;

    --muted: 270 38% 96%;
    --muted-foreground: 264 12% 36%;

    --accent: 270 40% 96%;
    --accent-foreground: 264 34% 20%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 270 30% 90%;
    --input: 270 30% 90%;
    --ring: 264 83% 47%;

    --radius: 1rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 255 24% 10%;
    --foreground: 0 0% 98%;

    --card: 255 24% 10%;
    --card-foreground: 0 0% 98%;

    --popover: 255 24% 10%;
    --popover-foreground: 0 0% 98%;

    --primary: 264 100% 79%;
    --primary-foreground: 264 36% 15%;

    --secondary: 264 22% 20%;
    --secondary-foreground: 0 0% 98%;

    --muted: 264 22% 20%;
    --muted-foreground: 264 10% 70%;

    --accent: 264 22% 20%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 264 14% 24%;
    --input: 264 14% 24%;
    --ring: 264 100% 79%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
